*{
    margin: 0;
    padding: 0;
    font-family: 'poopins', sans-serif;
    box-sizing: border-box;

}
a {
    text-decoration:none;
    color: #5a5a5a;
}
.top-right{
    position:right;
    top:30px;
    right:30px; 
}
.flex-div{
    display:flex;
    align-items:center;
    
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background:#fff;
    position: static;
    top:0;
    z-index: index 10;
}
.nav-left .mic-icon{
    width:16px;
}
.nav-left .search-box{
    border: 1px solid #ccc;
    margin-left:15px;
    padding: 8 px 12px;
    border-radius:25px;
}
.nav-left .search-box input{
    width:400px;
    border:0;
    outline:0;
    background: transparent;
}
.nav-left .search-box img{
    width: 15px;

}
    /*-------- sidebar-----------*/
    .sidebar {
     background :#fff;
     width:15px;
     height: 100vh;
     position: fixed;
     top: 0;
     padding-left: 2%;
     padding-top: 80px;
     


}






